.inspur-content {
    padding: 5px;
}

.inspur-panel {
    margin-bottom: 10px;
}

.form-legend {
    display: inline;
    padding: .2em .6em;
    font-size: 75%;
    font-weight: 500;
    line-height: 1;
    color: black;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0;
    margin: 0 5px 0 3px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
	background: white;
}

.nav-tabs {
    border-bottom: none;
}

.nav-tabs > li > a {
    color: #333;
    padding: 6px 15px 6px 15px;
    border-top: 2px solid transparent;
    background-color: #EEEEEE;
    border: 1px solid #ddd;
}